@use "color";

/*
  Utils
*/
@function if-important($important){
  @return #{if($important, '!important', '')};
}

@mixin font-size-in-rem-from-px($size, $important: false) {
  font-size: ($size / 16) + rem if-important($important);
}

@mixin transition {
  transition: all .2s;
}

@mixin opacity {
  opacity: .7;
}

@mixin reset-title {
  padding-bottom: 0;
  color: color.$color-pure-black;
  border-bottom: none;

  &::after {
    border-bottom: none;
  }

  > a {
    color: color.$color-pure-black;
  }
}

/*
  UI parts
*/

@mixin date {
  @include font-size-in-rem-from-px(14);

  line-height: 1.2;
  color: color.$color-deep-gray;
}

@mixin category-tag {
  @include font-size-in-rem-from-px(14);
  @include transition;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  line-height: 1;
  color: color.$color-light-gray;
  background-color: color.$color-light-green;
  border: 1px solid color.$color-light-green;
  border-radius: 2px;

  &:hover {
    color: color.$color-light-green;
    text-decoration: none;
    background-color: transparent;
  }
}

@mixin entries-list-title {
  @include reset-title;
  @include font-size-in-rem-from-px(18);

  line-height: 1.5;
}

@mixin pager-button {
  @include font-size-in-rem-from-px(16);
  @include transition;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  line-height: 1;
  color: color.$color-pure-black;
  background-color: color.$color-pure-white;
  border: 1px solid color.$color-pure-black;
  border-radius: 36px;
}