/* stylelint-disable no-descending-specificity */
@use "color";
@use "mixin";
@use "breakpoints";

/*
  Common
*/
#container {
  font-family: 'Noto Sans JP', sans-serif;
}


/*
  Header
*/
#top-editarea {
  .blog-header-inner {
    @include breakpoints.mq(xs) {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .blog-title {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .blog-title-heading {
        width: 60%;

        @include breakpoints.mq(sm) {
          max-width: 517px;  // 画像差し替え後調整
          margin: 0;
        }
      }

      .blog-description {
        flex-shrink: 0;
        margin-left: 8em;
        color: color.$color-deep-green;

        @include breakpoints.mq(lg) {
          @include mixin.font-size-in-rem-from-px(16);
        }
        @include breakpoints.mq(xl) {
          @include mixin.font-size-in-rem-from-px(18);
        }
      }
    }
  }

  .navbar{
    border-bottom: none;

    @include breakpoints.mq(lg) {
      margin-bottom: 56px;
    }

    .navbar-list{
      @include breakpoints.mq(sm) {
        width: 100%;
      }
      @include breakpoints.mq(lg) {
        display: flex;
        justify-content: flex-end;
      }
      @include breakpoints.mq(xl) {
        margin-right: -16px;
      }

      li {

        @include breakpoints.mq(xl) {
          margin-left: 8px;
        }

        a{
          @include mixin.transition;

          color: color.$color-pure-black;

          @include breakpoints.mq(md) {
            @include mixin.font-size-in-rem-from-px(14);

            height: auto;
            padding: 10px;
            line-height: 1;
          }
          @include breakpoints.mq(lg) {
            @include mixin.font-size-in-rem-from-px(16);

            padding: 14px;
          }
          @include breakpoints.mq(xl) {
            @include mixin.font-size-in-rem-from-px(18);

            padding: 16px;
          }

          &:hover {
            color: color.$color-medium-green;

            &::after{
              background-color: transparent;
            }
          }
        }
      }
    }

    .navbar-toggle-btn-icon  {
      line {
        stroke: color.$color-medium-green;
      }
    }
  }
}


/*
  Side Bar
*/
#box2 {
  @media (max-width: 767px) {
    width: calc(100% + 20px);
    margin-left: -10px;
  }

  .hatena-module-title {
    @include mixin.reset-title;
    @include mixin.font-size-in-rem-from-px(20);
  }

  .hatena-module-category {
    .hatena-urllist {
      display: flex;
      flex-wrap: wrap;

      li {
        margin-right: 16px;
        margin-bottom: 16px;

        a {
          @include mixin.category-tag
        }
      }
    }
  }

  .hatena-module-banner {
    .hatena-urllist {
      li {
        padding-bottom: 0;
        background-color: color.$color-pure-white;
        border-bottom: none;

        img {
          @include mixin.transition;

          vertical-align: bottom;

          &:hover {
            @include mixin.opacity;
          }
        }
      }
    }
  }

  .recent-entries {
    .recent-entries-item {
      border-bottom: none;

      .recent-entries-image {
        @include mixin.transition;

        margin-right: 14px;
        margin-bottom: 0;

        &:hover {
          @include mixin.opacity;
        }
      }

      .recent-entries-title-link {
        @include mixin.font-size-in-rem-from-px(15);

        line-height: 1.6;
      }
    }
  }
}
