/*
  Util
*/
$color-pure-white: #fff;
$color-light-gray: #fafafa;
$color-deep-gray: #777;
$color-pure-black: #000;
$color-light-green: #45b038;
$color-medium-green: #18a93c;
$color-deep-green: #2b6f3c;

@mixin font-size-in-rem-from-px($size) {
  font-size: ($size / 16) + rem
}

@mixin transition {
  transition: all .2s;
}

@mixin title {
  color: $color-pure-black;
  border-bottom: 0;

  &::after {
    border-bottom: 0;
  }

  > a {
    color: $color-pure-black;
  }
}

@mixin category-tag {
  @include font-size-in-rem-from-px(14);
  @include transition;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  line-height: 1;
  color: $color-light-gray;
  background-color: $color-light-green;
  border: 1px solid $color-light-green;
  border-radius: 2px;

  &:hover {
    color: $color-light-green;
    text-decoration: none;
    background-color: transparent;
  }
}


/*
  Common
*/
#container {
  font-family: 'Noto Sans JP', sans-serif;
}


/*
  Header
*/
#top-editarea {
  .blog-title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .blog-title-heading {
      // 画像差し替え後調整
      max-width: 537px;
      margin: 0;
    }

    .blog-description {
      @include font-size-in-rem-from-px(18);

      color: $color-deep-green;
    }
  }

  .navbar{
    margin-bottom: 56px;
    border-bottom: 0;

    .navbar-inner {
      .navbar-list{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-right: -16px;

        li {
          margin-left: 8px;

          a{
            @include font-size-in-rem-from-px(18);
            @include transition;

            height: auto;
            padding: 16px;
            line-height: 1;
            color: $color-pure-black;

            &:hover {
              color: $color-medium-green;

              &::after{
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}


/*
  main
*/
#main {
  .hatena-module-title {
    @include title;
    @include font-size-in-rem-from-px(26);

    a {
      color: $color-pure-black;
    }
  }

  .recent-entries-item {
    border-bottom: none;

    .recent-entries-item-inner {
      > * {
        display: block;

        &:not(:first-child){
          margin-top: 8px;
        }
      }

      .recent-entries-image-link {
        img {
          @include transition;
        }

        &:hover {
          img {
            opacity: .8;
          }
        }
      }

      .recent-entries-date-link {
        @include font-size-in-rem-from-px(14);

        line-height: 1.2;
        color: $color-deep-gray;
      }

      .recent-entries-title {
        @include title;
        @include font-size-in-rem-from-px(18);

        line-height: 1.5;
      }

      .recent-entries-category-link {
        @include category-tag;
      }

      .recent-entries-entry-body{
        display: none;
      }
    }

  }

  .urllist-read-more-btn {
    @include font-size-in-rem-from-px(16);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    line-height: 1;
    color: $color-pure-black;
    background-color: $color-pure-white;
    border: 1px solid $color-pure-black;
    border-radius: 36px;

    &::after {
      @include transition;

      top: 1em;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-left: 8px;
      content: "";
      background-image: url("https://cdn-ak.f.st-hatena.com/images/fotolife/j/jmdchr/20220530/20220530132627.png");
      background-size: contain;
    }

    &:hover {
      color: $color-medium-green;
      border-color: $color-medium-green;

      &::after {
        background-image: url("https://cdn-ak.f.st-hatena.com/images/fotolife/j/jmdchr/20220530/20220530132635.png");
      }
    }
  }
}


/*
  Side Bar
*/
#box2 {
  .hatena-module-title {
    @include title;
    @include font-size-in-rem-from-px(20);
  }

  .hatena-module-category {
    .hatena-urllist {
      display: flex;
      flex-wrap: wrap;

      li {
        margin-right: 16px;
        margin-bottom: 16px;

        a {
          @include category-tag
        }
      }
    }
  }
}
