/* stylelint-disable no-descending-specificity */
@use "color";
@use "mixin";
@use "breakpoints";

/*
  top
*/
.hatena-module-recent-entries,
.recent-entries {
  .hatena-module-title {
    @include mixin.reset-title;

    @include breakpoints.mq(xs) {
      margin-bottom: 2em;
    }

    @include breakpoints.mq(lg) {
      @include mixin.font-size-in-rem-from-px(26);
    }

    a {
      color: color.$color-pure-black;
    }
  }

  .recent-entries-item {
    margin-bottom: 2rem;
    border-bottom: none;

    .recent-entries-item-inner {
      > * {
        display: block;

        &:not(:first-child){
          margin-top: 8px;
        }
      }

      .recent-entries-image-link {
        img {
          @include mixin.transition;

          vertical-align: bottom;

          @include breakpoints.mq(xs) {
            // float: none;
            // width: 100%;
            // max-width: 100%;
          }
        }

        &:hover {
          img {
            @include mixin.opacity;
          }
        }
      }

      .recent-entries-date-link {
        @include mixin.date;

        margin-top: 16px;
      }

      .recent-entries-title {
        @include mixin.entries-list-title;
      }

      .recent-entries-category-link {
        @include mixin.category-tag;
      }

      .recent-entries-entry-body{
        display: none;
      }
    }

  }
}

.urllist-see-more-link,
.urllist-read-more-btn {
  @include mixin.pager-button;

  &::after {
    @include mixin.transition;

    top: 1em;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    content: "";
    background-image: url("https://cdn-ak.f.st-hatena.com/images/fotolife/j/jmdchr/20220530/20220530132627.png");
    background-size: contain;
  }

  &:hover {
    color: color.$color-medium-green;
    background-color: transparent;
    border-color: color.$color-medium-green;

    &::after {
      background-image: url("https://cdn-ak.f.st-hatena.com/images/fotolife/j/jmdchr/20220530/20220530132635.png");
    }
  }
}
